<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.exam.dao.mapper.ExamRecordMapper">
  <select id="queryByCondition" parameterType="UserQuery" resultType="com.boss.bes.exam.pojo.dto.ExamRecordDataListDTO">
    SELECT * FROM  system_permission_user
  <where>
      <if test="name != null and name != ''">
          and name like "%"#{name}"%"
      </if>
  </where>
  </select>


</mapper>